@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap"); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgb(10, 7, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
}

.logo span {
  color: var(--text-color);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 600;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 34vw;
  filter: drop-shadow(0 12px 14px #0ef);
}

.about-content h1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.about-content p {
  font-size: 1.4rem;
  font-weight:-2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content h2 {
  font-size: 3rem;
}

.about-content span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

.about-content .btn {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  font-weight: 600;
  font-size: 1.4rem;
  border: 2px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

.portofolio-box .btn:hover {
  box-shadow: none;
}

.skill {
  background: rgb(33, 43, 46);
}

.skill h2 {
  margin-top: 2rem;
  margin-bottom: 8rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.skill span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-container .skill-box {
  flex: 1 1 30rem;
  background: rgb(74, 83, 83);
  padding: 3rem 2rem 4rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 2rem;
  text-align: center;
  transition: 0.5s ease;
}

.skill-container .skill-box:hover {
  border-color: var(--main-color);
  transform: scale(1.03);
  box-shadow: 0 0 1rem #0ef;
}

.skill-box h3 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.skill-box li {
  font-size: 1.6rem;
  list-style: none;
  margin-bottom: 0.5rem;
}

.portofolio {
  background: var(--second-bg-color);
}

.portofolio h2 {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.portofolio span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

.portofolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portofolio-container .portofolio-box {
  flex: 1 1 30rem;
  background: #7a7c7c;
  padding: 3rem 2rem 4rem;
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 2rem;
  text-align: center;
}

.portofolio-box .btn {
  background-color: #d8d5d5;
  color: var(--second-bg-color);
  font-weight: 600;
  font-size: 1.4rem;
  border: 2px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--text-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

.portofolio-box .btn:hover {
  box-shadow: none;
}

.portofolio-box img {
  width: 18vw;
  margin-bottom: 3.5rem;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 0 3rem var(--bg-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

.portofolio-box img:hover {
  transform: scale(1.2);
}

#blog h2 {
  margin-top: 6rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--text-color);
}

#blog span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid var(--bg-color);
  background: var(--bg-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  background-color: #384050;
  border: 1px solid #655f5f;
  margin: 20px;
  transition: 0.5s;
}

.box:hover {
  transform: scale(1.02);
  border-color: var(--main-color);
  box-shadow: 0 0 1rem #0ef;
}

.img {
  width: 100%;
  height: auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text .title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #99CCFF;
}

.text .title:hover {
  transition: all ease 0.3s;
}

.text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.text p {
  color: var(--text-color);
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0;
  text-align: justify;
}

.text a {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.text a:hover {
  color: var(--main-color);
  transition: all ease 0.3s;
}

#medsos {
  background: linear-gradient(rgb(122, 71, 141) 0%, #97cbd3 70%);
  height: 100%;
  width: 100%;
}

#medsos h2 {
  margin-top: 2rem;
  margin-bottom: 12rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--text-color);
  text-shadow: 0 4px 14px #323946;
}

#medsos span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

.ikon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.ikon a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2c3e50;
  color: var(--text-color);
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  font-size: 24px;
  padding: 2rem;
  transition: 0.5s;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  margin: 0 18px;
}

.ikon a:hover{
  background: #0ef;
}

.ikon a:hover > i{
  transform: scale(1.29) rotate(25deg);
}

.ikon a i{
  transition: 0.6s all;
}

.contact h2 {
  margin-top: 2rem;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--text-color);
}

.contact span {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.contact form .btn{
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--second-bg-color);
  font-weight: 600;
  font-size: 1.4rem;
  border: 2px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

.contact form .btn:hover {
  box-shadow: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p{
  font-size: 1.6rem;
}